{% extends 'list.html' %}
{% load staticfiles %}

{% block table %}
    {% if not object_list %}
        {% include 'alert.html' with type='danger' message="There are no boards at this time" %}
    {% else %}
        <div class="main">
            <div class="row boards">
                {% for board in object_list %}
                    <div class="col-md-4 col-sm-12">
                        <div class="media board">
                            {% if board.image %}
                                <div class="media-left media-top">
{#                                    <a id="board{{ board.pk }}"  href="{% url 'view_board' slug=board.slug pk=board.pk %}">#}
                                        <img class="media-object" src="{{ MEDIA_URL }}{{ board.image }}"
                                             data-holder-rendered="true" style="width: 100px; height: 120px;"
                                             alt="{{ board.image }}">
                                    </a>
                                </div>
                            {% endif %}
                            <div class="media-body">
                                <h3 class="media-heading">
{#                                    <a href="{% url 'view_board' slug=board.slug pk=board.pk %}">{{ board.name }}</a>#}
                                </h3>
                                <p></p>
                                <p>{{ board.description|truncatechars_html:100 }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock table %}