{% block form_fragment %}
    {% block non_field_errors %}
        {% include "form_fragments/_non_field_errors.html" with errors=form.non_field_errors popover_title="Form Errors:" %}
    {% endblock non_field_errors %}

    {% for field in form %}
        {% if forloop.first %}
            <div class="row">{% endif %}

        {% if field.field.widget.is_hidden %}
            {% include "form_fragments/_form_field_hidden.html" %}
        {% else %}
    <div class="col-sm-4 col-md-4">

            {% include "form_fragments/_packed_form_field.html" %}
    </div>
        {% endif %}
    {% if forloop.counter|divisibleby:3 %}</div>
        <div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}
{% endblock form_fragment %}