{% block form_fragment %}
    {% block non_field_errors %}
        {% include "form_fragments/_non_field_errors.html" with errors=form.non_field_errors popover_title="Form Errors:" %}
    {% endblock non_field_errors %}

    {% for field in form.hidden_fields %}
        {% include "form_fragments/_form_field_hidden.html" %}
    {% endfor %}
    {% for field in form.visible_fields %}
        {% if forloop.first %}
            <div class="row">
        {% endif %}

        <div class="col-xs-3">
            {% include "form_fragments/_packed_form_field.html" %}
        </div>

        {% if forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock form_fragment %}