{% extends "base.html" %}

{% block content %}

    {% block details %}
    {% endblock details %}

    {% if page_details %}
        <div class="row">
            <div class="col-sm-12">
                {{ page_details|safe }}
            </div>
        </div>
    {% endif %}

    {% block form %}
        <form class=" full" action="" method="{{ form_method|default:'POST' }}" enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-12">
        {% csrf_token %}
            <div class="row">
				<div class="col-lg-6 col-lg-offset-3">

                    {% include 'alert.html' with type='danger' message='<span class="required-warning">*</span> - indicates a required field.<br><span class="glyphicon glyphicon-question-sign field-help-icon" style="font-size: 12pt"></span>  - indicates additional information.' %}
                </div>
			</div>

        <br>

            <hr />
            {% block render_form %}
                        {% include 'render_form.html' %}
            {% endblock render_form %}
                </div>
			</div>

        <div class="row responsive-sticky-button"  data-spy="affix" data-offset-bottom="290">
            <button type="submit" class="btn btn-info">
                 <i class="{{ form.submit_icon|default:'glyphicon glyphicon-floppy-disk' }}"></i> {{ form.submit_text|default:'Save' }}
            </button>
            <button value="reset" type="reset" class="btn btn-warning">Reset</button>
        </div>

        <div class="row sticky-button"  data-spy="affix" data-offset-bottom="150">
            <button type="submit" class="btn btn-info">
                 <i class="{{ form.submit_icon|default:'glyphicon glyphicon-floppy-disk' }}"></i> {{ form.submit_text|default:'Save' }}
            </button>
            <button value="reset" type="reset" class="btn btn-warning">Reset</button>
        </div>
        </form>
        <div class="push"></div>
    {% endblock form %}
{% endblock content %}

{% block mobile_context_nav %}
    {% block context_nav %}
        {% include "generic_context_menu.html" %}
    {% endblock context_nav %}
{% endblock mobile_context_nav %}