{% if show_context_menu %}
<li class="active context-aware-nav ">
    <a href="#" data-toggle="collapse" data-target="#context_menu" class="collapsed" aria-expanded="true">
        {{ object|default:verbose_name_plural }} <span class="caret"></span>
    </a>

    <ul id="context_menu" class="collapse in" aria-expanded="true">
        {% for item in context_menu_items %}
            <li>
                <a href="{{ item.1 }}" class="{% if item.3 in sidebar_group %}active{% endif %}">
                    <span class="glyphicon {{ item.2 }}" aria-hidden="true"></span> {{ item.0 }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>
{% endif %}