{% extends "base.html" %}

{% block content %}
    {% if page_details_top %}
        <div class="row">
            <div class="col-sm-12">
                {% include page_details_top %}
            </div>
        </div>
    {% endif %}
    <p>This action is irreversible. Are you sure you want to delete this {{ object_name }}?</p>
    <p>The following related objects will also be deleted:</p>
    {% if objs_to_be_deleted %}
        {{ objs_to_be_deleted|unordered_list }}
    {% else %}
        N/A
    {% endif %}
    <form action="" method="POST">{% csrf_token %}
        <br />
        <button name='submit' id='submit' type="submit" class="btn btn-success">
            <i class="glyphicon glyphicon-ok"></i> Yes
        </button>
        <a href="{{ no_url_path }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-remove"></i> No
        </a>
    </form>
    {% if page_details_bottom %}
        <div class="row">
            <div class="col-sm-12">
                {% include page_details_bottom %}
            </div>
        </div>
    {% endif %}
{% endblock content %}


{% block mobile_context_nav %}
    {% block context_nav %}
        {% include "generic_context_menu.html" %}
    {% endblock context_nav %}
{% endblock mobile_context_nav %}
