{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block mobile_context_nav %}
    {% block context_nav %}
        {% include "generic_context_menu.html" %}
    {% endblock context_nav %}
{% endblock mobile_context_nav %}

{% block content %}
    {% if page_details_top %}
        <div class="row">
            <div class="col-sm-12">
                {% include page_details_top %}
            </div>
        </div>
    {% endif %}
    {% block details %}
    {% endblock details %}
    {% if page_details %}
        <div class="row">
            <div class="col-sm-12">
                {{ page_details|safe }}
            </div>
        </div>
    {% endif %}
    {% for label, value in details.items %}
        {% include 'detail_row.html' with label=label value=value.0|render_detail:value.1|safe %}
    {% empty %}
        <p>There are no details to display.</p>
    {% endfor %}
    {% block extra_details %}
    {% endblock extra_details %}
    {% if page_details_bottom %}
        <div class="row">
            <div class="col-sm-12">
                {% include page_details_bottom %}
            </div>
        </div>
    {% endif %}
{% endblock content %}
