{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block context_nav %}
    {% include "generic_context_menu.html" %}
{% endblock context_nav %}

{% block content %}
    {% for label, value in details.items %}
        {% if value.0 %}
            {% include 'detail_row.html' with label=label value=value.0|render_detail:value.1|safe %}
        {% endif %}
    {% empty %}
        <p>There are no details to display.</p>
    {% endfor %}
    {% block extra_details %}
    {% endblock extra_details %}
{% endblock content %}
