{% extends "base.html" %}

{% block page-header-row %}
    <div class="row  page-header">
        {% block page_header %}
        {% block page_headline %}
            <div class="col-md-5 col-sm-12">
                <h1>
                    {{ page_icon }} {{ page_headline }}
                    {% block action_buttons %}
                    {% endblock action_buttons %}
                </h1>
                <h3 id="video-tutorial">
                    {% block video_tutorial %}
                    {% endblock video_tutorial %}
                </h3>
            </div>
        {% endblock page_headline %}
        {% block page_options %}
            <div class="col-md-3 col-sm-12 page-options report_selector">
            {% block page_options_1 %}
                {% if report_selector_form %}
                    {% include 'report_selector_form.html' with form=report_selector_form %}
                {% endif %}
            {% endblock page_options_1 %}
            </div>
            <div class="col-md-4 col-sm-12 page-options">
            {% block page_options_2 %}
                {% if search_form %}
                        {% include 'simple_search_form.html' with form=search_form %}
                {% endif %}
            {% endblock page_options_2 %}
            </div>
        {% endblock page_options %}
        {% endblock page_header %}
    </div>
{% endblock page-header-row %}


{% block content %}
    {% block advanced_search_form %}
        {% if advanced_search_form %}
            <div id="advanced_search_form">
                <form action="" method="GET" enctype="multipart/form-data">
                    {% include '3_col_render_form.html' with form=advanced_search_form %}
                    <input type="submit" id="advanced_search" name="advanced_search" value="Search"
                           class="btn btn-default btn-success">
                    <div style="float: right;">
                        <button type="button" id="saveThisSearch" data-toggle="modal" data-target="#saveThisSearchModal" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Save this search
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Saved searches <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="saved_searches_ul">
                                {# intentionally left empty #}
                            </ul>
                        </div>
                    </div>
                </form>
                <hr/>
            </div>
        {% endif %}
    {% endblock advanced_search_form %}

    <div id="saveThisSearchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="{% url 'search_filters_list_api' %}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Save This Search</h4>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {% include "render_form.html" with form=search_filter_form %}

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            <i class="fa fa-remove"></i>
                            Cancel
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    {% block table %}{% endblock table %}
    {% include 'pagination.html' %}
{% endblock content %}

{% block extra_header %}
    {{ block.super }}
    <style>
        th:not(:first-child), td:not(:first-child) {
            text-align: center;
        }
    </style>
{% endblock extra_header %}

{% block extra_footer %}
    {{ block.super }}
    <script type="text/javascript">
        $("#download_report").on('click', function () {
            if (!$("#id_get_reports").val()){
                return false;
            }
        });

        function searchFilterListItem(filterObj) {
            // keys are id, name, query_string, user, view, visibility
            return '<li><a href="' + filterObj.query_string + '" id="searchFilter' + filterObj.id.toString() + '">'
                + filterObj.name + '</li>';
        }
        var $savedSearchesUl = $("#saved_searches_ul");
        var searchFiltersListApiUrl = "{% url 'search_filters_list_api' %}";

        // On page load, put saved searches in the dropdown
        $.get(
            searchFiltersListApiUrl,
            {'view_name': "{{ view_name }}"},
            function(response_data, status, jqxhr) {
                var filterListItems = response_data.map(searchFilterListItem);
                $savedSearchesUl.html(filterListItems);
            }
        );
    </script>
{% endblock extra_footer %}