{% block form_fragment %}

    {{ form.media }}
    {% block non_field_errors %}
        {% include "form_fragments/_non_field_errors.html" with errors=form.non_field_errors popover_title="Form Errors:" %}
    {% endblock non_field_errors %}

    {% for field in form %}
        {% if field.field.widget.is_hidden %}
            {% include "form_fragments/_form_field_hidden.html" %}
        {% else %}
            {% include "form_fragments/_form_field.html" %}
        {% endif %}
    {% endfor %}
{% endblock form_fragment %}

{% for sub_article in articles %}
    {% if forloop.first %}
        <div class="row">{% endif %}
<div class="col-xs-3">
    <a href="#">
        {{ sub_article.name }}
    </a>
</div>
{% if forloop.counter|divisibleby:4 %}</div>
    <div class="row">{% endif %}
{% if forloop.last %}</div>{% endif %}
{% endfor %}