{% extends "base.html" %}
{% load static %}

{% block page_options %}
    <button id="add-btn" type="button" class="btn pull-right btn-success success">
        <span class="glyphicon glyphicon-plus"></span> {{ add_button_title }}
    </button>
{% endblock page_options %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {% include 'render_formset.html' %}
        <button name='submit' type="submit" class="btn btn-default action">Submit</button>
    </form>
{% endblock content %}

{% block extra_footer %}
    <script type="application/javascript">
        $(function () {
            $('#add-btn').click(function (event) {
                event.preventDefault();
                addForm(this, "{{ formset.prefix }}");
                return false
            });
        });
    </script>
{% endblock extra_footer %}