# Custom Django model-views-forms requirements
django>3.2
django-extra-views
django-currentuser
python-magic
arrow
user-agents

# Documentation requirements
sphinx
sphinx_rtd_theme


# Custom Report helpers requirements
openpyxl
xlwt


# Fabric recipes requirements
Fabric

# Testing helpers requirements
pyvirtualdisplay
requests
splinter
django-behave
