{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {% block page_headline_txt %}
        {% trans "Sign In" %}
    {% endblock page_headline_txt %}
{% endblock page_title %}

{% block content %}
    {% if not user.is_authenticated %}
        {% include "registration/_login_form.html" %}
    {% else %}
        <p>{% trans "You are already logged in." %}</p>
    {% endif %}
{% endblock content %}

{% block extra_header %}
    <style>
    .control-label {
        text-align: left;
    }
    .form-control {
        width: 100% !important;
    }
    </style>
{% endblock extra_header %}