{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {% trans "Please enter your new password" %}
{% endblock page_title %}

{% block page_headline %}
    <div class="col-sm-4">
        <h1>
            {% trans "Enter your new password" %}
        </h1>
    </div>
{% endblock page_headline %}

{% block content %}
    {% if validlink %}
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {% include 'render_form.html' %}
           <div class="col-md-4 col-md-offset-4">
                <button name='submit' type="submit" class="btn btn-default action">
                    {% trans "Change Password" %}
                </button>
           </div>
        </form>
    {% else %}
        {% trans "The password reset link was invalid." %}
    {% endif %}
{% endblock %}
