{% extends "base.html" %}

{% block page_title %}
    Please enter your new password
{% endblock page_title %}
{% block page_headline %}
    <div class="col-sm-4"><h1>Please enter your new password</h1></div>
{% endblock page_headline %}

{% block content %}
    {% if validlink %}
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {% include 'render_form.html' %}
            <button name='submit' type="submit" class="btn btn-default action">Submit</button>
        </form>
    {% else %}
        The password reset link was invalid.
    {% endif %}
{% endblock %}
