{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
    {% trans "Password Reset" %}
{% endblock page_title %}

{% block page_headline %}
    <div class="col-sm-4">
        <h1>
            {% trans "Password Reset" %}
        </h1>
    </div>
{% endblock page_headline %}

{% block content %}
    <p>
        {% blocktrans trimmed %}
        Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.
        {% endblocktrans %}
    </p>

    <form name="password_reset" method="post" action="">
        {% csrf_token %}
        {% include 'render_form.html' %}
        <input type="submit" name="submit" value="{% trans "Reset Password" %}" class="btn btn-default action"/>
    </form>
{% endblock %}