{% extends "base.html" %}
{% load i18n %}

{# If we didn't make this template, it would use an admin-based template instead. #}

{% block page_title %}
    {% trans "Password change successful" %}
{% endblock page_title %}

{% block page_headline %}
    <div class="col-sm-4">
        <h1>
            {% trans "Password change successful" %}
        </h1>
    </div>
{% endblock page_headline %}

{% block content %}
    {% url 'login' as login_url %}
    <p>
        {% blocktrans trimmed %}
            You may now <a href="{{ login_url }}">log in</a> to your new account.
        {% endblocktrans %}
    </p>
{% endblock content %}
