{% extends "base.html" %}

{% block page_title %}
    Please enter your new password
{% endblock page_title %}
{% block page_headline %}
    <div class="col-sm-4"><h1>Enter your new password</h1></div>
{% endblock page_headline %}

{% block content %}
    {% if validlink %}
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {% include 'toolkit_templates/forms/render_form.html' %}
           <div class="col-md-4 col-md-offset-4">
                <button name='submit' type="submit" class="btn btn-default action">Change Password</button>
           </div>
        </form>
    {% else %}
        The password reset link was invalid.
    {% endif %}
{% endblock %}
