{% load i18n %}{% autoescape off %}
    {% blocktrans %}You are receiving this email because an account was made for you at {{ site_name }}.
    Your new username is: {{ user }}.
    You must set your password before you can log in.{% endblocktrans %}

    {% blocktrans %}Please use this link to set your password:{% endblocktrans %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    {% blocktrans %}Regards,
    The {{ site_name }} team{% endblocktrans %}
{% endautoescape %}
