
    <div class="footer_nav">
        <ul class="col2">
            <li>
                <a href="http://www.ou.edu/publicaffairs/WebPolicies/accessstatement.html">Accessibility</a>
            </li>
            <li>
                <a href="http://www.ou.edu/sustainability.html">Sustainability</a>
            </li>
            <li><a href="http://ouhsc.edu/hipaa/">HIPAA</a></li>
            <li><a href="http://www.hr.ou.edu/employment/">OU Job
                Search</a></li>
        </ul>
        <ul class="col3">
            <li>
                <a href="http://www.ou.edu/content/web/landing/policy.html">Policies</a>
            </li>
            <li>
                <a href="http://www.ou.edu/content/web/landing/legalnotices.html">Legal
                    Notices</a></li>
            <li>
                <a href="http://www.ou.edu/content/publicaffairs/WebPolicies/copyright.html">Copyright</a>
            </li>
        </ul>
    </div>
