<div class="globalheader">
  <div class="ouheader">
    <div class="globalheader-wrapper">
      <ul>
        <li>
          <a class="tip home" href="http://www.ou.edu/web.html" alt="OU Home link">
            <i class="fa fa-home" aria-hidden="true"></i>
            <div class="caret"></div>
            <span>OU Homepage</span>
          </a>
        </li>
        <li>
          <a class="tip search" href="http://www.ou.edu/content/ousearch.html" alt="OU Search link">
            <i class="fa fa-search" aria-hidden="true"></i>
            <div class="caret"></div>
            <span>Search OU</span>
          </a>
        </li>
        <li>
          <a class="tip social" href="http://www.ou.edu/web/socialmediadirectory.html" alt="OU Social Media link">
            <i class="fa fa-comment-o" aria-hidden="true"></i>
            <div class="caret"></div>
            <span>OU Social Media</span>
          </a>
        </li>
        <li class="wordmark"><span><span style="font-style: italic;">The</span> UNIVERSITY <span style="font-style: italic;">of</span> OKLAHOMA</span></li>
      </ul>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>