{% extends "base.html" %}
{% load static %}
{% block wrapper %}
  <div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3" style="text-align: center;">
                <h1>{{ site_name }}</h1>
            </div>
            </div>
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
                    <div class="row"></div>
                    <div class="row"></div>
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="" method="post" role="form" style="display: block;">
                                    {% csrf_token %}
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" action="http://phpoll.com/register/process" method="post" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock wrapper %}

{% block extra_header %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'toolkit_templates/css/login.css' %}">
{% endblock extra_header %}

{##}
{##}
{##}
{##}
{##}
{##}
{#{% extends "base.html" %}#}
{##}
{##}
{#{% block page_title %}{% block page_headline_txt %}Sign In{% endblock page_headline_txt %}{% endblock page_title %}#}
{##}
{#{% block content %}#}
{#    {% if not user.is_authenticated %}#}
{#        {% include "registration/_login_form.html" %}#}
{#    {% else %}#}
{#        <p>You are already logged in.</p>#}
{#    {% endif %}#}
{#{% endblock content %}#}
{##}
{#{% block extra_header %}#}
{#    <style>#}
{#    .control-label {#}
{#        text-align: left;#}
{#    }#}
{#    .form-control {#}
{#        width: 100% !important;#}
{#    }#}
{#    </style>#}
{#{% endblock extra_header %}#}