# Custom Django model-views-forms requirements
Django>4.0
django-extra-views
django-currentuser==0.6.1
django-widget-tweaks==1.5.0
python-magic

# Documentation requirements
sphinx
sphinx_rtd_theme

# Custom Report helpers requirements
openpyxl==3.1.2
xlwt

# Fabric recipes requirements
Fabric

# Testing helpers requirements
pyvirtualdisplay
requests
splinter
django-behave

#CCE Toolkit
git+https://github.com/cceit/cce-toolkit.git@latest

#Postgres
psycopg2==2.9.9

Pillow==10.0.1