{% load widget_tweaks %}
{#<div class="col-sm-12">#}


<form class="form-inline">
    <div class="form-group">
         {% for field in form %}
            <label for="{{ field.id_for_label }}" class="sr-only">{{ field.name }}</label>
                <div class="input-group">
                    {{ field|add_class:'form-control' }}
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>

                    {% if advanced_search_form %}
                        <a class="input-group-addon advanced-search-button" role="button" data-toggle="collapse"
                           href="#advanced-search" aria-expanded="false" aria-controls="advanced-search">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Advanced Search</a>
                    {% endif %}
                </div>
        {% endfor %}
    </div>
</form>