{% extends "base.html" %}

{% block content %}

        <div class="row">
            <div class="col-sm-12">

                   {% include 'toolkit_templates/components/alert.html' with type='danger' message='This action is irreversible. Are you sure you want to delete this '|add:object_name|add:'?' %}
                    <p>The following related objects will also be deleted:</p>
                    {% if objs_to_be_deleted %}
                        <ul>
                        {{ objs_to_be_deleted|unordered_list }}
                        </ul>
                    {% else %}
                        N/A
                    {% endif %}
                    <form action="" method="POST">{% csrf_token %}
                        <br />
                        <button name='submit' id='submit' type="submit" class="btn btn-success">
                            <i class="glyphicon glyphicon-ok"></i> Yes
                        </button>
                        <a href="{{ no_url_path }}" class="btn btn-danger">
                            <i class="glyphicon glyphicon-remove"></i> No
                        </a>
                    </form>
            </div>
        </div>
{% endblock content %}


{% block mobile_context_nav %}
    {% block context_nav %}
        {% include "toolkit_templates/components/generic_context_menu.html" %}
    {% endblock context_nav %}
{% endblock mobile_context_nav %}
